# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data files
*.parquet
*.pkl
*.pickle

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Logs
*.log

data/**
!data/
!data/intermediate/
!data/transformer/
!data/intermediate/train_2018_2025_final.csv
!data/intermediate/train_no_missing_2007_2025_final.csv
!data/transformer/train_transformer.csv
!data/transformer/val_transformer.csv
